@model ProjetWeb.Model.Ligne_resaModel

@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>*@

<h3>Etes vous sûr de supprimer cette ligne ?</h3>
<div>
    <h4>Ligne_resa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reservation.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reservation.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ressource.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ressource.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste des lignes", "Index")
        </div>
    }
</div>
