@model IEnumerable<ProjetWeb.Model.Ligne_resaModel>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.reservation_id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ressource_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.purge)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ressourceLigne)
        </th>
        <th>Supprimer</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.reservation_id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ressource_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_fin)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.purge)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ressourceLigne)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
